*{
    margin: 0;
    padding: 0;
}
.container{
width: 1500px;
}

a{
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
color: black;
}
#start{
    background: #FCDB00;

}

.start2{
    display: flex;
justify-content: space-around;
align-items: center;
}

h1{
    color: #000;

font-family: Arial;
font-size: 36px;

}

h3{
    color: #000;

font-family: Arial;
font-size: 20px;}

p{
    color: #000;

font-family: Arial;
font-size: 16px;
}
#nurhan {
    background: #FCDB00;
    
}
.nurhan2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text{
    color: #000;
font-family: Arial;
font-size: 36px;}

#go{
    background-color: #fff;
}
.go2{
    padding-left: 100px;
    padding-top: 100px;
}

.block1{
    width: 337px;
height: 359px;
border-radius: 12px;
background: #404040;
text-align: center;
color: aliceblue;
}

.bl{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vdd{
    background-color: #404040;
    display: flex;
    justify-content: space-around;
    align-items: center;
height: 293px;
color:white;
}
.color{
    color: aliceblue;
}







